[credential]
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = Andrew Tang
	email = {{ .email }}
[http]
	postBuffer = 157286400
[init]
	defaultBranch = main
